absl-py
aiohttp
aiosignal
asttokens
attrs
audioread
backcall
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
click
comm
contourpy
cycler
Cython
decorator
defusedxml
docker-pycreds
docopt
executing
fastjsonschema
filelock
fonttools
frozenlist
fsspec
future
gdown
gitdb
GitPython
grpcio
h5py
huggingface-hub
HyperPyYAML
idna
ipympl
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
jupyterlab_widgets
kiwisolver
lazy_loader
librosa
lightning-utilities
llvmlite
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
mpmath
msgpack
multidict
nbclient
nbconvert
nbformat
networkx
ninja
numba
numpy
packaging
pandas
pandocfilters
parso
pesq
pexpect
pickleshare
pillow
platformdirs
pooch
prompt_toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pybind11
pycparser
pyDeprecate
Pygments
pyparsing
pyroomacoustics
PySocks
pystoi
python-dateutil
pytorch-lightning
pytz
PyWavelets
PyYAML
pyzmq
referencing
requests
rpds-py
ruamel.yaml
ruamel.yaml.clib
safetensors
scikit-learn
scipy
sdeint
seaborn
sentencepiece
sentry-sdk
setproctitle
six
smmap
soundfile
soupsieve
soxr
speechbrain
stack-data
sympy
tensorboard
tensorboard-data-server
threadpoolctl
timm
tinycss2
torch
torch-ema
torchaudio
torchinfo
torchmetrics
torchsde
torchvision
tornado
tqdm
traitlets
trampoline
triton
typing_extensions
tzdata
urllib3
wandb
wcwidth
webencodings
Werkzeug
widgetsnbextension
yarg
yarl
thop
